---
apiVersion: v1
kind: Namespace
metadata:
  name: elastic-al
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: elasticsearch-pvc
  labels:
    component: elasticsearch
spec:
  storageClassName: csi-driver-lvm-linear
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5G