apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
spec:
  replicas: 1 # For a single instance; use more for a replica set
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongodb
        image: docker.io/mongo:4.4.18 # Use a specific version in production without AVX
        ports:
        - containerPort: 27017
        env:
        - name: MONGO_INITDB_DATABASE
          value: webapp
        - name: MONGO_INITDB_ROOT_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongodb-secret
              key: username
        - name: MONGO_INITDB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongodb-secret
              key: password
        volumeMounts:
        - name: bd-volume
          mountPath: /data/db
      volumes:
      - name: "init-database"
        configMap:
          name: createdb.conf
      - name: bd-volume
        emptyDir:
          sizeLimit: 5Gi    