<<<<<<< HEAD
=======

>>>>>>> a5f6400c536dbd47fdac55bf281d7e82ada2405f
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-conf
data:
  nginx.conf: |
    user nginx;
<<<<<<< HEAD
    worker_processes  1;
    events {
      worker_connections  10240;
    }
    http {
      server {
          listen       80;
          server_name  localhost;
          location / {
            root   /var/www/nginx/html;
            index  index.html index.htm;
        }
      }
=======
    worker_processes  3;
    error_log  /var/log/nginx/error.log;
    events {
      worker_connections  10240;
    }
      stream {
        upstream webtasks-service {
            server webtasks-service.default.svc.cluster.local:3000;
            }

       server {
            listen 3000;
            proxy_pass webtasks-service;
        }
    }
    http {
      log_format  main
              'remote_addr:$remote_addr\t'
              'time_local:$time_local\t'
              'method:$request_method\t'
              'uri:$request_uri\t'
              'host:$host\t'
              'status:$status\t'
              'bytes_sent:$body_bytes_sent\t'
              'referer:$http_referer\t'
              'useragent:$http_user_agent\t'
              'forwardedfor:$http_x_forwarded_for\t'
              'request_time:$request_time';
      access_log	/var/log/nginx/access.log main;
      server {
          listen       80;
          server_name  task-list;

          location /tasks {
              proxy_pass http://webtasks-service:3000;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            }

          location / {
              root   /var/www/nginx/html;
              index  index.html index.htm;
          }
       }
>>>>>>> a5f6400c536dbd47fdac55bf281d7e82ada2405f
    }